---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ThemeSwitch from "../components/ThemeSwitch.svelte";
import svelte from "@astrojs/svelte";
export interface Props {
  title: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <link rel="favicon" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#000" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      name="description"
      content={"btr.pm " +
        (description || title || "btr.pm - projects - photos - blog")}
    />
    <meta property="og:title" content="btr.pm" />
    <meta property="og:url" content={`https://btr.pm${Astro.url.pathname}`} />
    <meta name="og:description" content={description || title} />
    <meta property="og:image" content="https://btr.pm/og.jpg" />
    <meta
      property="twitter:url"
      content={`https://btr.pm${Astro.url.pathname}`}
    />
    <meta property="twitter:title" content={title} />
    <meta
      property="twitter:description"
      content={description || "btr.pm - projects - photos - blog"}
    />
    <meta property="twitter:image" content="https://btr.pm/og.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="/fluid.js" defer="" is:inline></script>
  </head>
  <body>
    <Header />
    <ThemeSwitch client:load />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    background-color: #f6f6f6;
  }

  .dark {
    background-color: #171717;
  }
</style>
